/*
colors i prefer.
1- violet : #5E17EB
2- Royal blue: #5271FF
3- bright blue: #0190F7
4- Dark: #0c5b95
*/

/*importing poppins font from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: #e2e9f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 130px;
}

.logo {
    text-decoration: none;
    color: #5271FF;
    font-weight: 700;
    font-size: 1.6em;

}

.navbar a {
    text-decoration: none;
    color: #5271FF;
    font-weight: 500;
    font-size: 1.2em;
    padding-left: 15px;
    padding-right: 15px;
    transition: 0.2s ease;
}

.navbar a:hover {
    color: #5E17EB;
    background-color: beige;
    border-radius: 0.4em;
}

section {
    padding: 100px 175px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/Portfolio_bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2 {
    color: #e2e9f0;
    font-size: 1.4em;
    font-weight: 400;
}

.main h2 span {
    display: inline-block;
    /*As, span is an inline element and we cannot add to it margin or padding properties we display it inline-block*/
    color: #0190F9;
    font-weight: 900;
    font-size: 2.5em;
    margin-top: 10px;
}

.main h3 {
    color: #e2e9f0;
    font-size: 1.5em;
    font-weight: 200;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: #e2e9f0;
    background-color: #0190F7;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.1em;
    display: inline-block;
    margin-bottom: 30px;
    border-radius: 15px;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    transition: 0.7s ease;
}

.main-btn:hover {
    background-color: #0168f9;
    transform: scale(1.1);
}

.social-icons a {
    color: #e2e9f0;
    font-size: 1.8em;
    padding-right: 30px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #0190F7;
}

#services {
    background-color: #e2e9f0;
}

.title {
    display: flex;
    justify-content: center;
    color: #005a9d;
    font-size: 2.1em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #e3f3ff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
    overflow: hidden;
    border-radius: 10px;
    padding: 20px;
    margin: 12px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    color: #0190F7;
    font-size: 5em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3 {
    text-align: center;
    font-weight: 600;
    font-size: 1.8em;
    color: #5271FF;
}

.projects {
    background: url(images/Plain_bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.projects .content {
    margin-top: 30px;
}

.project-card {
    background-color: #e3f3ff;
    border: 1px solid #e3f3ff;
    box-shadow: 0 4px 10px rgba(0, 90, 157, 15%);
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover {
    transform: scale(1.1);

}

.project-image img {
    width: 100%;
}

.project-card:hover .project-image {
    opacity: 0.9;
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    color: #000;
}

.project-title {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: #0190F7;
}

.more-details:hover {
    color: #5E17EB;
}

.contact .icon {
    font-size: 4em;
}

.contact .info h3 {
    color: #0a5e64;
}

.contact .info p {
    font-weight: 400;
    font-size: 1.1em;
}

.footer {
    background-image: url(images/Plain_bg.png);
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    color: #e2e9f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 110px;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: #005a9d;
}

@media(max-width: 1023px) {
    header {
        padding: 12px 20px;
    }

    .navbar a {

        padding-left: 10px;
        padding-right: 10px;
        font-weight: 500;
        font-size: 1.5em;
    }

    .title {
        font-size: 1.8em;
    }

    section {
        padding: 80px 20px;
    }

    .main-content h2 {
        font-size: 1em;
    }

    .main-content h3 {
        font-size: 1.5em;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width: 641px) {
    body {
        font-size: 12px;
    }

    .main-content h2 {
        font-size: 0.8em;
    }

    .main-content h3 {
        font-size: 0.8em;
    }
}

@media(max-width:300px) {
    body {
        font-size: 10px;
    }
}